name: CI

on:
  push:
    branches:
      - "0.15.x"
  pull_request:
    branches:
      - "0.15.x"
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Check Formatting
        run: zig fmt --ast-check --check src

      - name: Run Tests
        run: zig build test --summary all

      - name: Build Examples
        run: zig build --summary all
