name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Setup kcov
        if: github.repository_owner == 'zigtools' && matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install kcov

      - name: Check Formatting
        run: zig fmt --ast-check --check src

      - name: Run Tests
        run: zig build test --summary all

      - name: Build Examples
        run: zig build --summary all

      - name: Collect Coverage
        if: github.repository_owner == 'zigtools' && matrix.os == 'ubuntu-latest'
        run: zig build coverage -Duse-llvm --summary all

      - name: Upload coverage reports to Codecov
        if: github.repository_owner == 'zigtools' && matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5
        with:
          directory: zig-out/coverage/kcov-merged
          fail_ci_if_error: true
          verbose: true
